<style>
#footer{
    background: #333333;
}
#footer .container .row h5{
    text-align: center;
    font-size: 20px;
    color: #fff;
    padding-bottom: 30px;
    padding-top: 30px;
}
#footer .container .row p{
    text-align: center;
    color: #fff
}
#footer .copyright{
    background: rgb(25, 93, 25);

}
#footer .copyright .row p{
    color: #fff;
    opacity: 0.8;
    padding-left: 150px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 15px

}




</style>

<footer id="footer">
        <div class="container">
          <div class="row">
              <div class="col-sm-12 col-md-4 col-lg-4">
                  <h5><strong>A PROPOS</strong></h5>
                  <p><a href="#"><b>Qui sommes nous</b></a><br></p>
                  <p><b>Conditions générales de la AgriBusiness</b></p>
                  <p><b>Mentions légales</b></p><br>
              </div>
      
              <div class="col-sm-12 col-md-4 col-lg-4">
                  <h5><strong>CONTACTEZ-NOUS</strong> </h5>
                  <p><b>+225 88 33 12 47 </b></p>
                  <p><b>Abidjan, port-bouët</b></p>
                  <p><b>AgriBusiness@gmail.com</b></p><br>
              </div>
      
              <div class="col-sm-12 col-md-4 col-lg-4">
                  <h5><strong>AIDE ET SERVICE</strong></h5>
                  <p><b>Besoin d'aide</b></p>
                  <p><b>livraison partout</b></p>
                  <p><b>Bons de reductions</b></p><br>
              </div>
          </div>
        </div>
        <div class="copyright">
              <div class="row">
                  <p>Copyright ©2019 <strong>Agri<span style="color:black;">Business</span></strong></p>
              </div>
          </div>
      </footer>
</body>
</html>