    <title>exercice en node js</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" media="screen" href="/produit.css">
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/tether.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script src="/jquery/maman.js"></script>
    <script src="/js/bootstrap.min.js"></script>