<!DOCTYPE html>
<html>
<head>
	<title><%= siteTitle %> - <%= pageTitle %></title>
	<% include ../partials/head %>
	<style type="text/css">
		*{
			border-radius: 2px !important
		}
		.texte{
			margin-top: 50px;
		}
	</style>
</head>
<body>
	<% include ../partials/navbar %>

